* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: black;
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

#container {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}

#container::-webkit-scrollbar {
  display: none;
}

#container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.1s ease-in,
    transform 0.1s ease-in;
}

section.active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

#maintyped {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: clamp(0.5rem, min(4vw, 20vh), 5rem);
  color: white;
}

.typed-cursor {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: clamp(0.5rem, min(4vw, 20vh), 5rem);
  color: white;
  display: inline;
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

/* Rainbow colors here (rbw - rainbow) */
.rbwred { color: #ff4b4b; } /* red */
.rbworg { color: #ffaa00; } /* orange */
.rbwyel { color: #ffe600; } /* yellow */
.rbwgrn { color: #3cff00; } /* green */
.rbwltb { color: #00cfff; } /* light blue */
.rbwblu { color: #1e90ff; } /* blue */
.rbwpur { color: #c346ff; } /* purple */

/* Main page typing colors */
.hexred { color: #c92a2a; }
.crimzn { color: #e63946; }
.emberx { color: #ff6f61; }
.zestor { color: #f77f00; }
.flammo { color: #ff703f; }
.yolkoo { color: #ffcc00; }
.meltup { color: #ffe600; }
.torchy { color: #ffd000; }
.sunnyy { color: #f4d35e; }
.virusy { color: #fce205; }
.neomnt { color: #2fe388; }
.discbl { color: #7289fa; }
.voidfx { color: #a66cff; }
.coldst { color: #6e7f8d; }
